@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-up {
  animation-name: show-up;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes show-down {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.showDown {
  display: block;
  animation-name: show-down;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}