#main-nav {
  position: relative;
  z-index: 1000;
  .nav-wrapper {
    .nav-left {
      #logo-wrapper {
        p {
          font-size: 2em;
        }
      }
    }

    .nav-right {
      a {
        margin-left: 2em;

        i {
          font-size: 1.5em;
          transform: translateY(2px);
          color: #a9c5e8;
        }
      }
    }
  }
}