#main-nav {
  position: relative;
  z-index: 1000;
  .nav-wrapper {
    .nav-left {
      #logo-wrapper {
        opacity: 0;
        p {
          font-size: 2em;
        }
      }
    }

    .nav-right {
      a {
        margin-left: 2em;
      }
    }
  }
}