* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #444;
  box-sizing: border-box;
}

html, body {
  position: relative;
}

h1 {
  font-size: 75px;
  font-weight: 100;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.relative-wrapper {
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 1.5em;
}

%button-styles {
  font-size: 1.2em;
  outline: none;
  background: none;
  border: 2px solid #444;
  padding: 0.5em 2em;
  transition: all 0.2s ease;
  cursor: pointer;
}

%button-styles:hover {
  background-color: #fff;
  border-color: #fff;
}

%button2-styles {
  width: 200px;
  font-size: 1em;
  border: 2px solid #444;
  outline: none;
  background: none;
  margin: 0.1em 0;
  cursor: pointer;
  border-radius: 2px;
}

@import 'nav';
@import 'landing';
@import 'shows';
@import 'about';
@import 'press';
@import 'music';
@import 'videos';
@import 'footer';
@import 'animations';